PYENV_VERSION_FILE=./.python-version
if test -f "${PYENV_VERSION_FILE}"; then
  pyenv_version=$(<${PYENV_VERSION_FILE})
  echo "Found .python-version: v${pyenv_version}"
  layout pyenv ${pyenv_version}
else
  echo "Missing .python-version file!"
fi

NVMRC_FILE=~/.bashrc.d/nvm.bash
if [ -e ${NVMRC_FILE} ]; then
  source ${NVMRC_FILE}
  nvm use
else
  echo "Missing ${NVMRC_FILE} for nvm Setup!"
fi
